{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="color:antiquewhite">
    <div class="row">
        
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-info">Login</button>
            </form>
            <p class="dark">you can use default credentials below to bypass registration</p>
            <p class="dark">username: Juma</p>
        <p class="dark">password: iuytrewq</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}